In [14]:
#Dependencies

import pandas as pd
import csv
import os

## Data Extraction file 1

## Volvo production data

In [15]:
production_df =pd.read_excel('Data/Volve production data_Edited.xlsx')
production_df

,DATEPRD,WELL_BORE_CODE,AVG_DOWNHOLE_PRESSURE,AVG_DOWNHOLE_TEMPERATURE,AVG_DP_TUBING,AVG_CHOKE_SIZE_P,AVG_WHP_P,AVG_WHT_P,DP_CHOKE_SIZE,BORE_OIL_VOL,BORE_GAS_VOL,BORE_WAT_VOL
0,2014-04-07,NO 15/9-F-1 C,0.00000,0.00000,0.00000,0.000000,0.00000,0.00000,0.00000,0.0,0.0,0.0
1,2014-04-08,NO 15/9-F-1 C,NaN,NaN,NaN,1.003059,0.00000,0.00000,0.00000,0.0,0.0,0.0
2,2014-04-09,NO 15/9-F-1 C,NaN,NaN,NaN,0.979008,0.00000,0.00000,0.00000,0.0,0.0,0.0
3,2014-04-10,NO 15/9-F-1 C,NaN,NaN,NaN,0.545759,0.00000,0.00000,0.00000,0.0,0.0,0.0
4,2014-04-11,NO 15/9-F-1 C,310.37614,96.87589,277.27826,1.215987,33.09788,10.47992,33.07195,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
15629,2016-09-14,NO 15/9-F-5 AH,NaN,NaN,NaN,0.636088,0.07776,0.22879,0.01862,0.0,0.0,0.0
15630,2016-09-15,NO 15/9-F-5 AH,NaN,NaN,NaN,0.670794,0.08545,0.22914,0.00631,0.0,0.0,0.0
15631,2016-09-16,NO 15/9-F-5 AH,NaN,NaN,NaN,0.664393,0.08544,0.22896,0.01181,0.0,0.0,0.0
15632,2016-09-17,NO 15/9-F-5 AH,NaN,NaN,NaN,0.624660,0.07497,0.22846,0.02576,0.0,0.0,0.0
15633,2016-09-18,NO 15/9-F-5 AH,NaN,NaN,NaN,NaN,NaN,NaN,0.00000,NaN,NaN,NaN

In [16]:
production_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15634 entries, 0 to 15633
Data columns (total 12 columns):
DATEPRD                     15634 non-null datetime64[ns]
WELL_BORE_CODE              15634 non-null object
AVG_DOWNHOLE_PRESSURE       8980 non-null float64
AVG_DOWNHOLE_TEMPERATURE    8980 non-null float64
AVG_DP_TUBING               8980 non-null float64
AVG_CHOKE_SIZE_P            8919 non-null float64
AVG_WHP_P                   9155 non-null float64
AVG_WHT_P                   9146 non-null float64
DP_CHOKE_SIZE               15340 non-null float64
BORE_OIL_VOL                9161 non-null float64
BORE_GAS_VOL                9161 non-null float64
BORE_WAT_VOL                9161 non-null float64
dtypes: datetime64[ns](1), float64(10), object(1)
memory usage: 1.4+ MB

In [17]:
production_df['WELL_BORE_CODE'].unique()

array(['NO 15/9-F-1 C', 'NO 15/9-F-11 H', 'NO 15/9-F-12 H',
       'NO 15/9-F-14 H', 'NO 15/9-F-15 D', 'NO 15/9-F-4 AH',
       'NO 15/9-F-5 AH'], dtype=object)

AVG_DOWNHOLE_PRESSURE Vs AVG_WHP_P

AVG_DOWNHOLE_TEMPERATURE Vs AVG_WHT_P 


AVG_CHOKE_SIZE_P  8919 Vs AVG_WHP_P

DP_CHOKE_SIZE Vs AVG_WHP_P


AVG_DOWNHOLE_PRESSURE Vs BORE_OIL_VOL 

AVG_DOWNHOLE_PRESSURE Vs BORE_GAS_VOL

AVG_DOWNHOLE_PRESSURE Vs BORE_WAT_VOL


AVG_WHP_P VS BORE_OIL_VOL

AVG_WHP_P Vs BORE_GAS_VOL 

AVG_WHP_P Vs BORE_WAT_VOL


AVG_WHP_P Vs DP_CHOKE_SIZE

In [18]:
df=production_df.dropna(subset=['AVG_DOWNHOLE_PRESSURE', 'AVG_WHP_P', 'AVG_DOWNHOLE_TEMPERATURE','AVG_WHT_P'])

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8980 entries, 0 to 9000
Data columns (total 12 columns):
DATEPRD                     8980 non-null datetime64[ns]
WELL_BORE_CODE              8980 non-null object
AVG_DOWNHOLE_PRESSURE       8980 non-null float64
AVG_DOWNHOLE_TEMPERATURE    8980 non-null float64
AVG_DP_TUBING               8980 non-null float64
AVG_CHOKE_SIZE_P            8740 non-null float64
AVG_WHP_P                   8980 non-null float64
AVG_WHT_P                   8980 non-null float64
DP_CHOKE_SIZE               8980 non-null float64
BORE_OIL_VOL                8980 non-null float64
BORE_GAS_VOL                8980 non-null float64
BORE_WAT_VOL                8980 non-null float64
dtypes: datetime64[ns](1), float64(10), object(1)
memory usage: 912.0+ KB

In [21]:
df.to_csv('production_filtered.csv')